@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 250 50% 40%; /* Indigo */
    --primary-foreground: 240 80% 95%; /* Light Indigo */
    --secondary: 240 40% 60%; /* Soft Indigo */
    --secondary-foreground: 240 30% 10%; /* Darker Indigo */
    --muted: 240 40% 60%; /* Muted Indigo */
    --muted-foreground: 240 30% 20%; /* Softer Indigo Contrast */
    --accent: 240 70% 40%; /* Indigo */
    --accent-foreground: 240 80% 95%; /* Light Indigo */
    --destructive: 0 84.2% 60.2%; /* Red remains for destructive actions */
    --destructive-foreground: 0 0% 98%;
    --border: 240 40% 60%; /* Indigo Border */
    --input: 240 40% 60%; /* Indigo Input */
    --ring: 240 70% 40%; /* Indigo Ring */
    --radius: 0.5rem;
    --chart-1: 240 60% 55%; /* Indigo */
    --chart-2: 240 50% 45%; /* Darker Indigo */
    --chart-3: 240 40% 35%; /* Even Darker Indigo */
    --chart-4: 240 60% 70%; /* Lighter Indigo */
    --chart-5: 240 75% 60%; /* Bright Indigo */
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 250 50% 30%; /* Indigo */
    --primary-foreground: 240 80% 95%; /* Light Indigo */
    --secondary: 240 30% 50%; /* Darker Indigo */
    --secondary-foreground: 0 0% 98%;
    --muted: 240 30% 40%; /* Muted Indigo */
    --muted-foreground: 240 50% 65%; /* Softer Indigo Contrast */
    --accent: 240 30% 50%; /* Dark Indigo */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 30% 50%; /* Indigo Border */
    --input: 240 30% 50%; /* Input with Indigo */
    --ring: 240 70% 40%; /* Indigo Ring */
    --chart-1: 240 60% 60%; /* Indigo */
    --chart-2: 240 50% 50%; /* Darker Indigo */
    --chart-3: 240 40% 55%; /* Lighter Indigo */
    --chart-4: 240 60% 65%; /* Bright Indigo */
    --chart-5: 240 70% 55%; /* Vibrant Indigo */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
